@import '~styles/variables.scss';
@import '~styles/colors.scss';

.header {
  position: fixed;
  z-index: 10;

  width: 100%;
  height: $header_height;

  color: $c-header_text;
  background-color: $c-header_bg;

  &__humburger {
    position: absolute;
    top: 50%;
    right: 2%;

    transform: translateY(-50%);

    border: none;
    outline: none;
    background: transparent;

    font-size: 30px;
  }
}