@import '~styles/variables.scss';
@import '~styles/colors.scss';
@import '~styles/burger-menu.scss';

html,
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  color: $c-main_text;
  background: $c-main_bg;

  font: 300 16px/18px Roboto, sans-serif;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}