.element {
  position: relative;
  height: 60px;
  padding: 10px 0;
  font-size: 18px;

  &__add {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}