@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.style-editor {
  padding: 10px;

  &__item {
    margin: 10px 0;
  }

  &-item {
    &__title {
      margin-bottom: 5px;
    }
  }
  &__control {
    background: rgba(0, 0, 0, 0.2);
    color: $c-white;
  }
}
