@import '~styles/variables.scss';

.button {
  $types: (
    green: $c-green
  );

  position: relative;

  width: 100%;

  user-select: none;

  border: 0;
  border-radius: $main-border-radius;
  outline: none;
  background-color: $c-blue;

  line-height: 45px;

  overflow: hidden;

  &:hover,
  &:focus {
    background-color: lighten($c-blue, 10);
  }

  &:active {
    background-color: lighten($c-blue, 20);
  }

  &_type_in-progress {
    background-color: $c-gray-70 !important;

    &::after {
      content: '...';
    }
  }

  @each $type, $color in $types {
    &_type_#{$type} {
      background-color: $color;
    }

    &_type_#{$type}:hover,
    &_type_#{$type}:focus {
      background-color: lighten($color, 10);
    }

    &_type_#{$type}:active {
      background-color: lighten($color, 20);
    }
  }
}

.ripple {
  position: absolute;
  width: 100%;
  height: 100%;

  &-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;

    animation: ripple-animation 2s;
  }
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}