@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.component {
  position: absolute;
  height: 76px;
  width: 90%;
  margin: 7px 0;
  padding: 15px;
  background: #F4F0CB;
  border-radius: 15px 225px 15px 255px/255px 15px 225px 15px;
  color: $c-gray-20;
  overflow: hidden;

  &_deleted {
    opacity: 0.3;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  &__add-control {
    font-style: italic;
  }

  &__delete {
    position: absolute;
    top: 28px;
    right: 20px;
    width: 20px;
    height: 20px;
  }

  &__cancel {
    position: absolute;
    top: 28px;
    right: -80px;
    width: 20px;
    height: 20px;
  }

  &__draggable {
    position: absolute;
    top: 28px;
    right: 50px;
    cursor: move;
  }

  &__edit {
    position: absolute;
    top: 28px;
    right: 80px;
    cursor: pointer;
  }
}