.element-container {
  &__item {
    position: relative;
    margin: 9px 0;
    padding: 0 55px 0 5px;
    background: rgba(0, 0, 0, 0.1);
  }

  &__add {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}