@import '~styles/colors.scss';
@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.form-view {
  padding: 0 15px 15px 15px;

  &-container {
    position: relative;
    max-width: 1000px;
    z-index: 15;
    padding: 15px 10px;
    background: #fff;
    color: #000;
  }

  &__title {
    height: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
  }

  &__components {
    min-width: 450px;
  }

  &-component {
    &__label {
      margin-bottom: 10px;
    }
  }
}
