@import '~styles/variables.scss';
@import '~styles/mixins.scss';

$material-input: material-input;

.#{material-input} {
  position: relative;

  &__input {
    border: none;
    margin: auto;
    box-shadow: none;
    text-align: inherit;

    &:focus {
      border: none;
      box-shadow: none;

      & ~ .material-input__hr .material-input__hr_active {
        transform: scaleX(1);
      }
    }
  }

  &__hr {
    &_default {
      position:absolute;
      width:100%;
      border:none;
      border-bottom:solid 1px;
      border-color:#e0e0e0;
      bottom:0;
      box-sizing:content-box;
      margin:0;
    }
    &_active {
      position: absolute;
      width: 100%;
      border-style: none none solid;
      border-bottom-width: 2px;
      border-color: rgb(0, 188, 212);
      bottom: 0;
      box-sizing: content-box;
      margin: 0;
      transform: scaleX(0);
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }

  &__left-to-right {
    .#{material-input}__hr {
      &_default {
        display: none;
      }
      &_active {
        position: absolute;
        width: 0%;
        border-style: none none solid;
        border-bottom-width: 2px;
        border-color: rgb(0, 188, 212);
        bottom: 0;
        box-sizing: content-box;
        margin: 0;
        transform: scaleX(1);
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
    }

    .#{material-input}__input {
      &:focus {
        border: none;
        box-shadow: none;

        & ~ .#{material-input}__hr .#{material-input}__hr_active {
          width: 100%;
        }
      }
    }
  }
}